<body>
    <header>
        <div class="bootstrap-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <mat-card class="service-mat">
                            <mat-card-title class="service-title">Our Services</mat-card-title>
                        </mat-card>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-card class="service-mat-card">
                                <img class="service-mat-img" src="../../../assets/images/choise.png" alt="">
                                <mat-card-title class="service-mat-title">Maximum Choice</mat-card-title>
                                <mat-card-subtitle class="service-mat-subtitle">Travel across Bangladesh with more than 45+ Bus Operators with AC and Non-AC service</mat-card-subtitle>
                            </mat-card>
                        </div>
                        
                        <div class="col-md-3">
                            <mat-card class="service-mat-card">
                                <img class="service-mat-img" src="../../../assets/images/trust.png" alt="">
                                <mat-card-title class="service-mat-title">Guaranteed Refund</mat-card-title>
                                <mat-card-subtitle class="service-mat-subtitle">Travel without tension. Your money and your valuable life is safe with us.</mat-card-subtitle>
        
                            </mat-card>
                        </div>
        
                        <div class="col-md-3">
                            <mat-card class="service-mat-card">
                                <img class="service-mat-img" src="../../../assets/images/seat icon.png" alt="">
                                <mat-card-title class="service-mat-title">Seat Selection</mat-card-title>
                                <mat-card-subtitle class="service-mat-subtitle">Select your most prefererd seats from the flexible real time BUS</mat-card-subtitle>
                            </mat-card>
                        </div>
        
                        <div class="col-md-3">
                            <mat-card class="service-mat-card">
                                <img class="service-mat-img" src="../../../assets/images/e ticket.png" alt="">
                                <mat-card-title class="service-mat-title">E-Ticket</mat-card-title>
                                <mat-card-subtitle class="service-mat-subtitle">SMS E-TICKET is enough. Go paperless, no fear of losing your tickets.</mat-card-subtitle>
                            </mat-card>
                        </div>
        
                    </div>
                </div>
    
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <h1>Enjoy Your journey</h1>
                            <h2>With our Best Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</body>