<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="logo">
				<a [routerLink]="''">Bus Service</a>
			</div>
			<ul class="menu">
				<li><a [routerLink]="''">Home</a></li>
				<li><a [routerLink]="'about'">About</a></li>
				<li><a [routerLink]="'services'">Services</a></li>
				<li><a [routerLink]="'contact'">Contact</a></li>
				<li><a *ngIf="searchResultNormal" [routerLink]="'normal/search-routes'">Search Routes</a></li>
				<li><a *ngIf="searchRestultSeller" [routerLink]="'seller/search-routes'">Search Routes</a></li>
				<li>
					<a  *ngIf="logIn"
						(click) = "redirectUser()"
					> {{login.getUser().username}}</a>	
				</li>
				
				<li>
					<a (click)="logout()"
					 *ngIf="logIn"
					[routerLink]="'/signup'">Logout</a>
				</li>
				<li>
					<a *ngIf="!logIn"
					[routerLink]="'/signup'">Login/Register</a>
				</li>
			</ul>	
            <div class="hamburger-menu">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</nav>
	</header>
</body>
</html>
