<div  class="bootstrap-wrapper" style="background-color:#34364e;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <form *ngIf="!table" #rSearchForm="ngForm" (ngSubmit)="searchRotues()">
                    <div class="form-group">
                      <label for="departureInput">Departure</label>
                      <input [formControl]="myControl" type="text" class="form-control" id="departureInput" name="departure" [(ngModel)]="departure"  [matAutocomplete]="auto1">
                      <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectDeparture($event.option.value)">
                        <mat-option *ngFor="let r of fiteredOptions | async " [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                    <div class="form-group">
                
                        <label for="destinationInput">Destination</label>
                        <input [formControl]="myControl" type="text" class="form-control" id="destinationInput" name="destination" [(ngModel)]="destination" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let r of fiteredOptionsDestination | async " [value]="r">
                            {{r}}
                          </mat-option>
                        </mat-autocomplete>
                    
                     
                    </div>
                    <div class="form-group">
                      <label for="dateInput">Date</label>
                      <input type="date" class="form-control" id="dateInput" name="date" [(ngModel)]="date">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                  </form>
                  
            </div>
            
      <div *ngIf="table">
        <h2 style="color:#ffff">Search Results</h2>
        <!-- <table class="table">
          <thead>
            <tr>
              <th>Departure</th>
              <th>Destination</th>
              <th>Date</th>
              <th>Time</th>
              <th>View Seats</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of routes">
              <td>{{ r.departure }}</td>
              <td>{{ r.destination }}</td>
              <td>{{ r.date | date }}</td>
              <td>{{ r.time }}</td>
              <td><button [routerLink]="'/seller/schedule/seat/' + r.scheduleId"  class="table-button">
                View Seats
                </button>
              </td>
            </tr>
          </tbody>
        </table> -->

        <mat-card style="color:#34364e; margin-bottom:30px; padding:30px 0px" *ngFor="let r of routes">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{r.bus.busName }}</mat-card-title>
            <mat-card-subtitle>{{ r.bus.busNumber }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button class="ml15"  mat-flat-button color="accent">From: {{r.departure}}</button>
            <button class="ml15" mat-raised-button color="primary">To: {{r.destination}}</button>
            <button class="ml15" mat-stroked-button>
              Time: {{ r.time}}
            </button>
            <button class="ml15" mat-stroked-button>
              Date: {{ r.date | date}}
            </button>
            <button class="ml15" mat-stroked-button>
              Price: {{ r.price}}
            </button>
           <div class="btn-right">
            <button [routerLink]="'/seller/schedule/seat/' + r.scheduleId"  class="table-button">View Seats</button>
           </div>

          </mat-card-actions>
        </mat-card>
      </div>
        </div>
    </div>
</div>
