/* matform */

.readonly-select {
  pointer-events: none; 
  color: #888; 
  cursor: not-allowed; 
}

.seating-chart {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #34364e;
  }
  
  .row {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 10px;
  }
  
  .seat {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #c0c0c0;
    cursor: pointer;
  }
  
  .available {
    background-color: rgb(17, 174, 17);
    
  }

  .selected {
    background-color: blue; 
  }
  
  .booked {
    background-color: red;
    cursor: not-allowed;
    pointer-events: none; 
  }
  
  .disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10px;

}
table tr td, th {
    padding: auto;
    border: 0.5px solid #e2e2e2 ;
    text-align: center;    

}
.table-button{
    margin-left: 2px;
    
 }
 .mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: rgb(0, 218, 0);
    --mdc-protected-button-label-text-color: #fff;
}

.card-title{
    text-align: center;
    padding: 10px;
} 
.mat-form {
    margin: 10px;
    padding: 20px 0px;
}

.form-width{
    width: 70%;
}

.steering img{
  margin-left: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 55px;
}
.col-md-7{
    display: block;
    margin-top: 5px;
    padding: 0;
    text-align: center;
}
  mat-form-field {
    margin-left: 10px;

}

  .button{
    margin: 10px;
}

  .demo-button{
    margin-top: 10px;
    
}

.edit-button{
    margin-left: 1px;
    color: #00b7ffdd;
    border: none; 
    margin-bottom: 2px;
 }
 .delete-button{
    margin-left: 1px;
    color: red;
    border: none; 
 }
.table-button{
   margin-left: 2px;
   
}
.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: rgb(0, 218, 0);
    --mdc-protected-button-label-text-color: #fff;
}

.card-title{
    text-align: center;
    padding: 10px;
}
.save-button{
    margin-right: 5px;
}
.heading{
    margin-bottom: 10px;
    align-items: center;
    background-color:#3a3d5ae0;
    color: #ffff;
}



.col-md-4{
    margin-left: 10px;
    
}

#seat-color{
  display: flex;
  width: 50%;
}
#seat-color .color{
  padding: 5px 10px;
  background-color: rgb(17, 174, 17);
  margin-right: 10px;
}

#seat-color .color:nth-child(2) {
  background-color: blue;
}
#seat-color .color:nth-child(3) {
  background-color: red;
}

a{
  text-decoration: none;
  color: #fff;
}


.selected-seat-info {
  color: #ffff;
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}
.selected-seat-info ul{
  list-style-type: no;
}
.selected-seat-info button {
  background-color: rgb(17, 174, 17);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.selected-seat-info button:hover {
  background-color: rgb(0, 117, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
