<div class="bootstrap-wrapper" style="background-color: #34364e;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="heading">
                    <mat-card-header>
                      <mat-card-title>
                        <h1>Avaiable Seats</h1>
                      </mat-card-title>
                    </mat-card-header>
                  </mat-card>
            </div>
            <div class="col-md-4">
                <body style="color:#ffff">
                    <div class="seating-chart">
                      <h3>Bus Code: {{scheduleData.bus.busCode}}</h3>
                        <div *ngFor="let rowIndex of  [1, 2, 3, 4, 5, 6,7,8,9,10]" class="row">
                            <div *ngFor="let s of scheduleData.seats.slice((rowIndex - 1) * 4, rowIndex * 4)"
                                class="seat" [ngClass]="{'available': !s.booked, 'booked': s.booked}" [routerLink]="s.booked ? null : '/normal/'+ScheduleId+'/add-customer/'+s.seatId">
                                {{s.seatNo}}</div>
                        </div>
                    </div>  
                </body>  
            </div>

            <!-- Table info -->
            <div class="col-md-7 ">
                <mat-card class="heading">
                    <mat-card-header>
                      <mat-card-title>
                        <h1>Routes</h1>
                      </mat-card-title>
                    </mat-card-header>
                  </mat-card>
                
                    <table style="background-color: #34364e; color:#ffff">
                      <tr>
                        <th>Serial No</th>
                        <th>Departure</th>
                        <th>Destination</th>
                        <th>Time</th>
                        <th>Pirce</th>
                       
                      </tr>
                      <tr *ngFor="let r of scheduleData.routes; let x = index">
                        <td>{{ x + 1 }}</td>
                        <td>{{ r.departure }}</td>
                        <td>{{ r.destination }}</td>
                        <td>{{ r.time }}</td>
                        <td>{{ r.price }}</td>
                        
                      </tr>
                    </table>
                   
            </div>
        </div>
    </div>
</div>