table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;

}
table tr td, th {
    padding: 10px;
    border: 0.5px solid #e2e2e2 ;
    text-align: center;
    

}
.demo-button{
    margin-top: 10px;
    margin-left: 10px;
}

.edit-button{
    margin-left: 1px;
    color: #00b7ffdd;
    border: none; 
    margin-bottom: 2px;
 }
 .delete-button{
    margin-left: 1px;
    color: red;
    border: none; 
 }
 .table-button{
    display: inline-block;
    padding: 6px px;
    background-color: #00c314;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .table-button:hover{
    background-color: #00c314ac;
  
  }
.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: rgb(0, 218, 0);
    --mdc-protected-button-label-text-color: #fff;
}

.card-title{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.filter {
    display: flex;
    align-items:flex-end;
    width: 20%;
    margin-top: 10px;
   
}

/* .ticket {
    display: inline-block;
    padding: 6px px;
    background-color: #525575;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .ticket:hover {
    background-color: #72788d;
  } */